

	<div class="section" id = "topSection" data-anchor="top" >
				<%# image_tag("site_bg_0.jpg")%>

<!-- <div class "sectionContainer"> -->
	<div id = "topContainer"> 

<%# video_tag("overcast.mp4", autoplay:true, controls: false, muted: true, autobuffer: true, id: "bgVid", :loop => true) %>

<!-- </video> --><div class = "videoOverlay">
<span class = "topHeader"> <h1>about  </h1>  </span>
	<span class = "aboutText">	<p>This is a select portfolio of  creative projects that explore my investigations into interdisciplinary multimedia production. I am interested in synthesizing practices as varied as experience design, art direction, critical theory, game design and performance documentation to create new modalities of storytelling in an increasingly digitized age.</p>

<p>Much of my artistic practice touches upon themes regarding the social and biological implications of life in the anthropocene, both critically and aesthetically. I deploy my creative abilities as well as intellectual inquiries to client's projects as well, as a producer and strategist. i invite collaboration.</p>
<p>Please reach out and say hello!
</p></span>
	<span class ="topFooter">  <a class= "topLink" href="http://instagram.com/goldencalf" target ="_blank"> Instagram  </a> <a href="https://www.linkedin.com/pub/jason-rosen/23/b64/182" target ="_blank" > LinkedIn</a>   </span>
</div>
</div>
				<!-- </div> -->

<%#= video_tag("Love OutofBounds-SD.mp4", controls: false, muted: true, autoplay: true) %>


		
	</div>

	<!-- <div class="section" data-anchor="about" >
<div class = "sectionContainer">
		
</div>

	</div> -->
	

	<div class="section" data-anchor="projects">

			<ul class = "projectList fp-slidesNav right" id ="homeProjectList">
					<% @projects.visible.each do |project| %>
					<li class = "menuItem"> <a href = #> <%=project.title.upcase%> </a> </li>
					<% end %>
				</ul>
				
				<% @projects.visible.each do |project| %>
				<% @project = project %>

				<div class="slide" data-anchor="slide<%=project.id%>" >
		
							<%= render "project", object: project %>
				</div>
							<% end %>
		
	</div>


	<div class="section" id ="Résumé/CV" data-anchor="resume" >

		<div class = "sectionContainer" id = "resumeContainer">
<!-- 			<h1>Résumé/CV</h1>
 -->			<div class = "resumeDiv" id = "primaryExperienceDiv">
				<h1> Primary Experience</h1>
				<ul id = "primaryExperienceList">
					<% @experiences.primary.each do |experience | %>
								<l1>
									<div class = "experienceDiv"> 
																	<h2> <%= experience.employer + "-" %> <%= experience.position %> </h1> 
																	<h2> <%= experience.location%> <%=experience.start.to_s %> <%= experience.end.to_s %> </h2>
																	<p> <%= experience.description %> </p>
												
									</div>
								</l1>
								<%end%>

							</ul>
			</div>
			<div class = "resumeDiv" id = "secondaryResumeDiv" >
				<div id = "educationDiv ">
					<ul class = "educationList">
						<h1> Education</h1>
					<% @educations.each do |education| %>
<li>					<h2> <%= education.institution %> <%= education.graduation.to_s %> </h2>
					</li><ul>					
										<% education.programs.each do |program| %>
					<li>					 <%= program.name%> 
					 					</li> 					<%end%></ul>

					<%end%>
				</ul>
				</div>
				<div class = "skillsWrapper">
														<h1> Skills </h1>

					<div id = "skillsDiv">
									<% @skills.find_in_batches(start: 0, batch_size: 9) do |group|%>
									<div class = "skillsBatch">
										<% group.each do |skill| %>
														<p> <%= skill.name %> </p>
										<% end %>
									</div>
									<% end %>
								 </div></div>

				 <div id = "secondaryExperienceDiv ">
				 					<h1> Other Experience</h1>

				 	<ul id = "secondaryExperienceList">
				 		<% @experiences.secondary.each do |experience| %>
				 					 	<li>
				 					 		<div class = "experienceDiv"> 
				 					 					 						<h2> <%= experience.employer + "-" %> <%= experience.position %> </h2> 
				 					 					 						<h2> <%= experience.location%> <%=experience.start.to_s %> <%= experience.end.to_s %> </h2>
				 					 					 						<p> <%= experience.description %> </p>
				 					 					 	
				 					 					 					</div></li>
				 	
				 					 	<%end%>
				 					 </ul>
				 </div>	
			</div>
					</div>
	</div>



