<!DOCTYPE html>
<html>
<head>
  <title>JSRosen01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<header class= "home-head"> Jason Scott Rosen || Portfolio </header>
 -->
 	<%= render "portfolio/navigation" %>

	
<div id="fullpage">


<%= yield %>
</div>

</body>
</html>
